<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="christmas" class="org.di.basics.Holiday">
        <property name="day" value="17"/>
        <property name="month" value="5"/>
        <property name="greeting" value="Happy New Year!"/>
    </bean>

    <bean id="Madisepaev" class="org.di.basics.Holiday">
        <property name="day" value="24"/>
        <property name="month" value="2"/>
        <property name="greeting" value="Happy Madisepaev!"/>
    </bean>

    <bean id="helloWorld" class="org.di.basics.HelloWorld">
        <property name="message" value="This is a message from helloWorld bean"/>
        <property name="holidays">
            <list>
                <ref bean="christmas"/>
                <ref bean="Madisepaev"/>
            </list>
        </property>
    </bean>

</beans>